<h1>{{title}}</h1>

<form action="/api/add" method="post">
    <label for="name">Name: </label> <br>
    <input type="text" name="name" id="name"><br>

    <label for="type">Type: </label> <br>
    <input type="text" name="type" id="type"><br>

    <label for="description">Description: </label> <br>
    <input type="text" name="description" id="description"><br>

    <label for="location">Location: </label> <br>
    <input type="text" name="location" id="location"><br>

    <label for="rating">Rating: </label>
    <select name="rating" id="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select><br>

    <input type="submit" value="Add">
</form>